<svg
  class="wfc-grid"
  [attr.viewBox]="'0 0 ' + width() + ' ' + height()"
  [attr.width]="width()"
  [attr.height]="height()"
  preserveAspectRatio="xMidYMid meet"
>
  @for (p of placements(); track p.r + '-' + p.c) {
    <g [attr.transform]="'translate(' + (p.c * cellSize()) + ' ' + (p.r * cellSize()) + ')'">
      <rect class="grass" x="0" y="0" [attr.width]="cellSize()" [attr.height]="cellSize()" />

      @if (p.tile) {
        @if (p.hasN) {
          <rect
            class="road"
            [attr.x]="roadOffset()"
            y="0"
            [attr.width]="roadWidth()"
            [attr.height]="half()"
          />
        }
        @if (p.hasS) {
          <rect
            class="road"
            [attr.x]="roadOffset()"
            [attr.y]="half()"
            [attr.width]="roadWidth()"
            [attr.height]="half()"
          />
        }
        @if (p.hasE) {
          <rect
            class="road"
            [attr.x]="half()"
            [attr.y]="roadOffset()"
            [attr.width]="half()"
            [attr.height]="roadWidth()"
          />
        }
        @if (p.hasW) {
          <rect
            class="road"
            x="0"
            [attr.y]="roadOffset()"
            [attr.width]="half()"
            [attr.height]="roadWidth()"
          />
        }
      } @else {
        <rect
          class="failed"
          x="0"
          y="0"
          [attr.width]="cellSize()"
          [attr.height]="cellSize()"
        />
      }
    </g>
  }
</svg>
